$btn-primary-color: hsl(192, 37%, 48%);
$btn-primary-color-hover: hsl(192, 54%, 64%);
$btn-primary-text-color: hsl(192, 90%, 77%);
$btn-secondary-color: hsl(268, 34%, 53%);
$btn-secondary-color-hover: hsl(267, 54%, 71%);
$btn-secondary-text-color: hsl(268, 100%, 86%);
$text-heading-color: hsl(240, 21%, 20%);
$text-color: hsl(240, 10%, 57%);
$white-color: hsl(0, 0%, 98%);
