@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Basic Styles
html {
    font-size: 62.5%;
}

body {
    font-family: "Red Hat Display", sans-serif;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 500;
    // overflow-x: hidden;
}

// Utilities
%btn-shared {
    font-family: inherit;
    padding: 1.6rem 4rem;
    border: none;
    outline: none;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5rem;
    color: $white-color;
    font-weight: 700;
    transition: background-color 300ms;
}

// Header Styles
.header {
    text-align: center;

    .logo {
        margin-top: 4.8rem;
        margin-bottom: 5.4rem;
    }

    .image-hero {
        &-left,
        &-right {
            display: none;
        }
    }

    .hero-content-container {
        max-width: 82rem;
        margin: 0 auto;

        img {
            transform: scale(1.1);
            width: 100%;
            margin-bottom: 4.8rem;
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 32.7rem;
            margin: 0 auto;
            
            h1 {
                width: 25rem;
                font-size: 4rem;
                color: $text-heading-color;
                margin-bottom: 2.4rem;
            }
            
            p {
                margin-bottom: 3.2rem;
            }

            .btn-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.6rem;

                .btn {
                    @extend %btn-shared;
                    &-primary {
                        background-color: $btn-primary-color;
                        span {
                            display: inline-block;
                            margin-left: 0.4rem;
                            color: $btn-primary-text-color;
                        }

                        &:hover {
                            background-color: $btn-primary-color-hover;
                        }
                    }
                    &-secondary {
                        background-color: $btn-secondary-color;

                        &:hover {
                            background-color: $btn-secondary-color-hover;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        .logo {
            margin-bottom: 6.4rem;
        }

        .hero-container {
            .hero-content-container {
                .hero-content {
                    max-width: none;
    
                    h1 {
                        width: 35rem;
                        font-size: 5rem;
                    }
                    p {
                        width: 45.7rem;
                    }
            
                    .btn-container {
                        flex-direction: row;
                    }
                }
            }
        }    
    }
    
}

@media only screen and (min-width: 1200px) {
    .header {
        .logo {
            margin-top: 8rem;
            margin-bottom: 6.1rem;
        }

        .hero-container {
            display: flex;
            align-items: center;
            position: relative;
            max-width: 160rem;
            margin: 0 auto;
            
            .image-hero {
                display: none;
            }
    
            .image-hero-left,
            .image-hero-right {
                display: block;
                position: absolute;
            }
    
            .image-hero-left {
                top: 0;
                left: -3.5rem;
            }
    
            .image-hero-right {
                right: -2.5rem;
                bottom: 0;
            }
    
            .hero-content-container {
                flex-grow: 1;
    
                .hero-content {
                    max-width: none;
                    width: 90%;
    
                    h1 {
                        font-size: 6.4rem;
                        width: 44.5rem;
                        margin-top: 5rem;
                        margin-bottom: 3.4rem;
                    }
    
                    p {
                        font-size: 1.8rem;
                        width: 50rem;
                        margin-bottom: 3.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .hero-content{
        p {
            width: 54rem !important;
        }
    }
}
